<html>
    <head>
        <title>Search engin</title>
    
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="/javascripts/search.js" ></script>
    </head>
    
    <header>
        <title>Search engin</title>
    </header>
    <h2>Search engin</h2>
    <body>
        <input id="myInput" type="text" name="searchText" placeholder="search"  onchange="SetDefault($(this).val());" onkeyup="this.onchange();">
      
    </body>
    
    
    
    
</html>
